/**************************************************
   common CSS
**************************************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,input,select,td,th,table,pre,strong,b,i,textarea{
    line-height: 40px;
}
.center {
    text-align: center !important;
}
.left {
    text-align: left !important;
}

.content {
    width: 900px;
    margin: 0 auto;
}

/**************************************************
   header CSS
**************************************************/
.black {

}
.header {
    margin: 50px 0 100px;
}

.header .user-nav {
    overflow: hidden;
    width: 900px;
    margin: 0 auto 20px;
}
.header .user-nav ul {
    display: inline-block;
    float: right;
}
.header .user-nav li {
    display: inline-block;
    float: left;
}
.header .user-nav a {
    padding: 0 20px;
    border-right: 1px solid #000;
}
.header .user-nav li:last-child a {
    border-right: 0;
}

.header .content-nav {
    position: relative;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.header .content-nav > ul {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
}
.header .content-nav > ul > li {
    display: inline-block;
    width: 50%;
    float: left;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
.header .content-nav > ul > li > a {
    padding: 0 40px;
    margin: 0 40px;
}
.header .content-nav > ul ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    overflow: hidden;
}
.header .content-nav > ul ul.active {
    display: block;
}
.header .content-nav > ul ul li {
    display: inline-block;
    line-height: 60px;
}
.header .content-nav > ul ul li a {
    padding: 0 20px;
    margin: 0 20px;
}


/**************************************************
   board CSS
**************************************************/
.board {
    width: 100%;
}
.board th {

}
.board td {
    text-align: center;
}
.board li {
    line-height: 40px;
}
.board li a {

}


/**************************************************
   black CSS
**************************************************/
.black {

}
.black .header .user-nav a {
    border-right: 1px solid #fff;
}

.black .header .content-nav {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}